.Nav__item-wrapper {
  display:flex;
  flex-direction: row;
  background-color: gray;
  align-items: flex-start;
}

.Nav__container {
  display:flex;
  flex-direction: row;
}

.Nav__right {
  width: 100%;
}

.Nav__item {
  font-size: 40px;
  padding: 7px;
  list-style-type: none;
}


