


.maximizable-container.fullscreen {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}

.maximizable-container.fullscreen .maximizable-content {
  width: 100%;
}

.maximizable-actions {
  width: 5rem;
}

.maximizable-container.fullscreen .maximizable-actions {
  width: auto;
  margin-left: auto;
}

.maximizable-actions button {
  background-color: white;
}

.h1 {
  margin-top: 0.25rem;
  font-size: 1.8rem;
}
