.usersettings__container {
  display: flex;
  flex-direction: column;
}

.usersettings__avatarsettings {
  display: flex;
  flex-direction: row;
}

.usersettings__passwords {
  display: flex;
  flex-direction: row;
}
.usersettings__settings {
  display: flex;
  flex-direction: column;
}
