.user-settings__container {
  margin: 0 auto;
  width: 250px;
}

.user-settings__avatarsettings {
  display: flex;
  flex-direction: row;
}

.user-settings__passwords {
  display: flex;
  flex-direction: column;
}
.user-settings__settings {
  display: flex;
  flex-direction: column;
}
.password-form {
  width: 30%;
}
