.start-container {
padding-top: 2%;
text-align: center;
}

.start-container__title {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25;
    letter-spacing: 0.02857em;
}


.Start-title {
  font-size: 25px;
}
